# ===== 三个 Bot 凭证 =====
DIRECTOR_APP_ID=cli_aaad7bd6d33a5bcf
DIRECTOR_APP_SECRET=XgwERkjh4KOfFd1pI6MydeSJOFpI0QGs
PM_APP_ID=cli_aaad306c77b91bc3
PM_APP_SECRET=34JhfWyRx1E7hZHjiABWrg7pao2Ri0J0
ENGINEER_APP_ID=cli_aaad323347a4dbc4
ENGINEER_APP_SECRET=UURsYT81a1bxNLq7uI6vfc72BdeKc0RB

# ===== 飞书群聊 =====
CHAT_ID=oc_88cdd7c54cf79fca0b959644630f9b6d

# ===== DeepSeek =====
DEEPSEEK_API_KEY=sk-8dc66b7474cf4c19b3e77fb9bcedc92d
